/*! HTML5 Boilerplate v7.1.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 1.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

 
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

   html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}




 /* ==========================================================================
   Author's custom styles
   ========================================================================== */
















 /* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

 .hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap; /* 1 */
}

/*
* Extends the .visuallyhidden class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
  white-space: inherit;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}

 
/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

   @media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

 
/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

   @media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

.bg-light {
    background-color:rgba(0,0,0,0.5) !important;
	line-height:5px;
}

.navbar-light .navbar-nav .nav-link {
    color:#FFFFFF;
	font-size:22px;
	font:bold;

}
.navbar-light .navbar-nav .nav-link:hover{
    color: #0033FF;
	}


#section{
width:100%;

color: #000000;
text-align:center;
}
#section3{
width:100%;
height:700PX;
background-image:url(img/background-texture-2110724__340.jpg);
color: #FFFFFF;
font:bold;

}
#contant2{
margin-top:250PX;}


#section2{
background-image:url(img/02.jpg);
color:#FFFFFF;}

#section1{
width:100%;

}
#section4{
width:100%;
background-color:#666666;
color: #FFFFFF;
}


#circal{

width:35%;
height:65%;
border-radius:100%;
margin-top:40px;}
#wrapper{
width:50%;
margin-left:20px;

}
#wrapper1{
width:50%;
margin-left:50px;
}
#line1{
color:#FFFFFF;
margin:25PX;
min-width:500PX;
margin:0 auto 10px;
line-height:15px;
font-size:14px;
padding:0 0 0 10px;
position:relative;}
#line1:before{
content:'';
width:90%;
position:absolute;
left:0;
height:15px;
top:0;
z-index:-2;
background:#d2d6d7;
}
#line1:after{
content:'';
background-color:#000000;
height:15px;
width:86%;
transition:0.8s;
display:block;
animation:animate 1 4s;
position:absolute;
top:0;
left:0;
z-index:-1;}



#line2{
margin:25PX;
min-width:500PX;
margin:0 auto 10px;
line-height:15px;
font-size:14px;
padding:0 0 0 10px;
position:relative;
color:#FFFFFF;}
#line2:before{
content:'';
width:90%;
position:absolute;
left:0;
height:15px;
top:0;
z-index:-2;
background:#d2d6d7;
}
#line2:after{
content:'';
background-color:#000000;
height:15px;
width:75%;
transition:0.8s;
display:block;
animation:animate 1 4s;
position:absolute;
top:0;
left:0;
z-index:-1;}

#line3{
color:#FFFFFF;
margin:25PX;
min-width:500PX;
margin:0 auto 10px;
line-height:15px;
font-size:14px;
padding:0 0 0 10px;
position:relative;}
#line3:before{
content:'';
width:90%;
position:absolute;
left:0;
height:15px;
top:0;
z-index:-2;
background:#d2d6d7;
}
#line3:after{
content:'';
background-color:#000000;
height:15px;
width:60%;
transition:0.8s;
display:block;
animation:animate 1 4s;
position:absolute;
top:0;
left:0;
z-index:-1;}
#line4{
margin:25PX;
min-width:500PX;
margin:0 auto 10px;
line-height:15px;
color:#FFFFFF;
font-size:14px;
padding:0 0 0 10px;
position:relative;}
#line4:before{
content:'';
width:90%;
position:absolute;
left:0;
height:15px;
top:0;
z-index:-2;
background:#d2d6d7;
}
#line4:after{
content:'';
background-color:#000000;
height:15px;
width:77%;
transition:0.8s;
display:block;
animation:animate 1 4s;
position:absolute;
top:0;
left:0;
z-index:-1;}

#button1{
margin-left:250px;
margin-top:10px;
}


#button2{
margin-left:20px;
margin-top:150px;}

#icon{
	font-size:50px;
	 float: left;
	  margin-bottom:70px;}


#contant{
width:100%;
margin-left:10px;}
#contant1{
margin-top:50px;
width:100%;
margin-right:10px;}
#text{
float:right;
margin-right:20px;
}

#site{

float:right;}
#site1{
padding-left:20px;}
#site2{
width:100%;
height:600px;

}

#icon1{

	font-size:40px;
	text-align:center;
	color:#FF0000;}

#icon2{

	font-size:40px;
	margin-left:650px;
	margin-top:40px;
	}

#from{
      width:60%;
      height:550px;
	  text-align:center;
      background-color:#CCCCCC;
     }
#field{width:95%;
      height:50px;
      
	  margin-top:30px;
     
      padding:20px;
      font-size:16px;
	  }

	  

#submit{
		width:100%;
		height:80px;
		margin-top:120px;
		
		font-size:16px;
		background-color:#FF00CC;
		color:#FFFFFF;
		font:bold;}
		
.footer p{
margin-left:600px;
	clear:both;
	padding-top:10px;
	padding-bottom:10px;
	color:gray;
}
.footer p a{
	color:gray;
}
.footer p a:hover{
	color:blue;
	border-bottom:1px solid blue;
	transition:.7s;
}

